.content{
  padding: 0 !important;
  overflow: hidden;
}
.sub-page{
  height: 100%;
  margin-top: 15px;
}
.tabs{
  background-color: rgb(244, 67, 54);
}
li.tab.col.s3 > a,
li.tab.col.s4 > a{
  color: #fff;
}
.tabs .indicator{
  background-color: #fff;
}
.av-upload{
    bottom: 0px !important;
}
.tripple{
  margin: 0;
  padding: 0 !important;
}
.submit{
  padding-top: 15px;
}
.icons-edit-bar{
  overflow: hidden;
}
.submit{
  margin-top: 25px;
}
.tabs {
  overflow: hidden;
}
.add-icon{
  margin-left: 20%;
}
