    html{
    font-family: 'Asap', sans-serif !important;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: #eee;
}
label{
    color: white !important;
    font-weight: bold;
}
.card-login{
    color: #eee;
    text-align: center;
}
.validate{
    border-color: #eee !important;
}

.submit-btn{
    margin-top: 15px;
}
@media (max-width : 600px) {
    .g-recaptcha{
        padding-left: 0px !important;
    }
}
