html{
    font-family: 'Asap', sans-serif !important;
}
nav ul a,
nav .brand-logo {
  color: #fff;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;
}
@media(max-width: 600px) {
    .me{
        width: 50%;
        height: 50%;
        border-radius: 100%;
        border: 3px solid #fff;
        margin-top: -25%;
    }

    .arrivederci{
        font-size: 42px;
        color: #000;
    }
}
@media (min-width: 600px) {
    .me{
        width: 25%;
        height: 25%;
        border-radius: 100%;
        border: 3px solid #fff;
        margin-top: -13%;
    }
    .arrivederci{
        font-size: 72px;
        color: #000;
        border-top: 1px solid #2f2929;
    }
}
body{
    background-color: #eee;
}
.ita-parent{
    position: relative;
    left: 0;
}
.Italia:after {
    background: linear-gradient(to right, #20c12b 25%, #20c12b 25%, #d7d4d4 25%, #d7d4d4 75%, #c83030 75%);
    position: absolute;
    content: '';
    height: 7px;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 0px !important;
}

.social{
    margin-left: 3%;
}
.side-nav{
    color: #fff;
    z-index: 998;
}
.menu-btn{
    left: 24px !important;
    z-index: 999;
}
.side-nav-pic{
    height: 100%;
    width: 100%;
}
.post-title,
.post-title:hover,
.post-title:active{
    color: #000;
}
.post{
    position: relative;
}
.post-content{
    border-bottom: 2px solid #999;
}
.toc-wrapper{
    position: relative;
    margin-top: 48px;
}
.search{
    margin: 30px;
    margin-bottom: 5px;
}
.hidden-menu{
    color: #fff;
}
#sidenav-overlay{
    z-index: 1;
}
.mob-nav{
    z-index: 998;
}
.share-btn{
    z-index: 0;
}
.collapsible{
    color: #000;
}
.info{
    color: #009688;
}
.pagination li.active{
    background-color: #009688;
}
.myColor-Dark,
ul.myColor-Dark.side-nav{
  background-color: rgba(101, 7, 7, 1) !important;
}
.myColor-Light{
  background-color: rgba(125, 0, 0, 1) !important;
}
.myColor-Dark-txt,
.prefix.active{
  color: rgba(101, 7, 7, 1) !important;
}
.myColor-Light-txt{
  color: rgba(125, 0, 0, 1) !important;
}
.white-txt{
  color: #fff !important;
}
ul#projects-mob.dropdown-content.myColor-Light > li > a.white-txt:hover{
  color: black !important;
}
